<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body style="width: 100%; background-color: #eff0f2; font-family: 'Open Sans', sans-serif !important;">

<div style="border-style: solid; border-color: #300034; border-width: 1px; max-width: 800px; min-width: 700px; margin-left: auto; margin-right: auto">
    <div style="width: 100%; height: 15px; background-color: #300034"></div>
    <div style="padding: 8px; background-color: #f1f2f4">
        <div>
            <div style="font-size: larger">Dear {0},</div>
        </div>

        <div style="margin-top: 20px">
            <div style="width: 100%; ">
                <div  style="width: 80%; background-color: rgba(173,132,0,0.18); margin-left: auto; margin-right: auto; border-right-style: solid; border-left-style: solid; border-color: #ad8400; border-right-width: 10px; border-left-width: 10px; border-radius: 3px; padding: 5px">
                    <div style="text-align: center">This is a courtesy e-mail from the <b>DPRC Accessible Media Program</b> regarding your course:</div>
                    <div style="text-align: center; font-size: x-large; margin-top: 10px "><b>{1}</b></div>
                    <div style="text-align: center; font-size: larger; margin-top: 10px "><b>Media captioning <i>may</i> be requested.</b></div>
                </div>
            </div>
            <div style="margin-top: 20px">In order to help you prepare your instructional materials for the <b>{2}</b> semester, we would like to inform you that a DPRC student with a deaf or hard of hearing disability is enrolled in your course, {1}.</div>

            <div style="margin-top: 15px">This student is eligible to receive a media closed captioning accommodation for any audio/video based instructional materials used in this course.

            <div style="margin-top: 15px">While this student is eligible for a media captioning accommodation through the DPRC, at this point in time they may or may not have elected to use this accommodation for {1}.
                They can, however, elect to use this accommodation at any time during the semester.
                In order to avoid complications and extra work placed on you due to last minute changes in this student’s accommodation, we want to inform you now so we can work with you to prepare any captioning required for your instructional materials.</div>
        </div>
            <div style="margin-top: 30px">
                <div style="text-align: center; font-size: larger">The following steps can be taken now:</div>
            </div>
        <div style="width: 100%; margin-top: 5px">
            <div style="width: 80%; background-color: rgba(173,132,0,0.18); margin-left: auto; margin-right: auto; border-right-style: solid; border-left-style: solid; border-color: #ad8400; border-right-width: 10px; border-left-width: 10px; border-radius: 3px; padding: 5px">
                <ul>
                    <li>If you primarily use iLearn to host your instructional videos, please activate your iLearn page as soon as you can. The DPRC accessible media program can automatically access your iLearn page and start captioning your videos. You do not need to submit video links posted on your iLearn page. We will provide a captioned version to you automatically.</li>
                    <br>
                    <li>If you plan to use physical media (DVDs, VHS) within the first three weeks of the semester, please inform us now and we will start the captioning process immediately.</li>
                    <br>
                    <li>If you are using PowerPoint presentations that contain videos, please let us know so we can start the captioning process.</li>
                    <br>
                    <li>We will automatically activate iLearn lecture capture captions.</li>
                </ul>
            </div>
        </div>
    <div style="margin-top: 35px">
        <p>To clarify, this e-mail is to inform you that this student is <i>eligible</i> for a media captioning accommodation, but may not have yet specifically requested the use of that accommodation for this course. If this student chooses to use their media captioning accommodation for {1} you will receive an official accommodation notification letter from the DPRC. The accessible media program will contact you again to iron out any details.</p>
        <p>If you have any questions or would like to submit videos to us for captioning, please reply to this e-mail.</p>
        <p>If you don’t plan to use any audio/video based instructional materials in your course, there is nothing you need to do at this time.</p>
    </div>


</div>

    </div>
    <div style="padding: 5px; background-color: rgba(173,132,0,0.18); border-top-style: solid; border-top-color: rgb(48,0,52); border-top-width: 1px">

        <div style="text-align: center; margin-bottom: 15px"><b>This is the official captioning service account for the SF State DPRC.</b></div>
        <div style="display: flex">
            <div style="width: 50%">
                <div>Email: <a href="mailto:captions@sfsu.edu">captions@sfsu.edu</a></div>
                <div>Phone: 415-338-6435</div>
            </div>
            <div>
                <div style="display: flex; width: 100%">
                    <div style="font-size: smaller">
                        Learn more about the importance of closed captioning in the classroom.
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-8 7H9.5v-.5h-2v3h2V13H11v1c0 .55-.45 1-1 1H7c-.55 0-1-.45-1-1v-4c0-.55.45-1 1-1h3c.55 0 1 .45 1 1v1zm7 0h-1.5v-.5h-2v3h2V13H18v1c0 .55-.45 1-1 1h-3c-.55 0-1-.45-1-1v-4c0-.55.45-1 1-1h3c.55 0 1 .45 1 1v1z"/></svg>
                    </div>
                </div>
                <div style="display: flex; width: 100%" >
                    <div style="font-size: smaller; margin-right: auto"><a href="https://www.google.com">Legal Obligations</a> </div>
                    <div style="font-size: smaller; margin-left: auto; margin-right: auto"><a href="https://er.educause.edu/articles/2017/8/a-rising-tide-how-closed-captions-can-benefit-all-students">Better Outcomes</a></div>
                    <div style="font-size: smaller; margin-left: auto; margin-right: auto"><a href="https://www.google.com">DPRC</a></div>
                </div>


            </div>

        </div>

    </div>
        <div style="width: 100%; height: 15px; background-color: #300034"></div>
</div>
</body>
</html>



