<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Media Captioning for {1}</title>
</head>
<body style="-webkit-appearance: none; font-family: Calibri, Arial, sans-serif" >

<table border="0" cellspacing="0" cellpadding="0" width="600" align="center" style="border-collapse: collapse; border-color: #300034; border-left-style: solid; border-right-style: solid; border-width: 2px" >
    <tbody>
    <tr>
        <td>
            <table width="100%" align="center"  style="background-color: #320033; border-collapse: collapse !important;">
                <tbody>
                <tr ><td height="20"></td></tr>

                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="8" style="border-collapse: collapse;">
                <tbody>
                <tr>
                    <td style="font-size: 18px; padding-bottom: 20px">Dear {0},</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="8" style="background-color: #eadeb4; border-collapse: collapse;" align="center" width="600">
                <tbody>
                <tr>
                    <td style="font-size: 18px" align="center">This is a courtesy e-mail from the <b>DPRC Accessible Media Program</b> regarding your course:</td>
                </tr>
                <tr>
                    <td style="font-size: 30px" align="center"><b>{1}</b></td>
                </tr>
                <tr>
                    <td style="font-size: 25px" align="center">Media captioning is <b>requested.</b></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding-right:15px; padding-left:15px; padding-bottom: 25px; padding-top:20px" height="50">
            A student enrolled in your course, {1}, requires a media captioning accommodation through the Disability Programs and Resource Center. Media captioning applies to any audio/video based instructional materials (lecture capture, podcasts, YouTube videos, DVD, etc.) used in this course and must be made accessible. Closed captions display the audio portion of a video as written text on the screen and is a recommended best practice for <a href="https://access.sfsu.edu/ati/videos">Universal Design for Learning</a>
        </td>
    </tr>
    <tr>
        <td style="padding-right:15px; padding-left:15px; padding-bottom: 25px; padding-top:20px" height="50">
            For asynchronous lecture capture, SF State Academic Technology recommends using <a href="https://athelp.sfsu.edu/hc/en-us/articles/115001515227-Adding-iLearn-Video-as-a-resource">iLearn Video</a> to upload your previously recorded lectures. Synchronous lecture capture using Zoom will produce AI generated automatic captions after the lecture is complete. Automatically generated AI captions in Zoom may be used unless otherwise requested by the deaf or hard-of-hearing student in your course. We will contact you with further details if requested.
        </td>
    </tr>
    <tr>
        <td>
            <table style="background-color: #eadeb4; border-collapse: collapse;" align="center" width="600">
                <tbody>
                <tr>
                    <td style="font-size: 20px; padding-top: 10px" align="center"><b>The following steps can be taken now:</b></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-collapse: collapse; background-color: #eadeb4;" cellpadding="10" align="center" width="600">

                <tbody>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>&#8226</td>
                    <td><b><i>The DPRC accessible media program can automatically access your iLearn page and start captioning your videos.</i></b>  We will provide a captioned version to you to upload to replace the non-captioned video. Emails will come from <a href="mailto:captions@sfsu.edu">captions@sfsu.edu</a>. <b>Please activate your iLearn page as soon as possible.</b></td>
                </tr>
                <tr>
                    <td>&#8226</td>
                    <td>If you are using PowerPoint presentations that contain video or audio, please let us know so we can start the captioning process.</td>
                </tr>
                <tr>
                    <td>&#8226</td>
                    <td>iLearn Video and Mediasite videos will be automatically captioned. <i>There may be up to a <b>48 hour delay</b> before iLearn Video and MediaSite videos are captioned.</i></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td  style="padding-right:15px; padding-left:15px; padding-top: 25px" height="50" >
            Many videos can be captioned within two to three days. However, some formats, like VHS/DVD, can take more than a week for us to caption. Please submit captioning requests to us as soon as you can.
        </td>
    </tr>
    <tr>
        <td  style="padding-right:15px; padding-left:15px; padding-top: 25px" height="50" >
            In summary, videos shown in class <b>must</b> contain closed captions. If there are sign language interpreters in your class, they should not be expected to be substitutes for uncaptioned videos. Please ensure all students have access to course materials in an appropriate time frame. <i>Students should not be expected to be tested on material covered in uncaptioned materials.</i>
        </td>
    </tr>
    <tr>
        <td  style="padding-right:15px; padding-left:15px; padding-bottom: 10px; padding-top: 25px" height="50" >
            <b>If you have any questions, want to submit media to us for captioning, or do not plan to use media in your course, please reply to this e-mail.</b> We are happy to discuss any concerns you may have about making your course accessible.
        </td>
    </tr>
    <tr>
        <td>
            <table width="800" style=" border-top-color: #300034; border-top-style: solid; border-width: 2px; background-color: #eadeb4">
                <tbody>
                <tr><td><table style="border-collapse: collapse;" align="center" width="800">
                    <tbody>
                    <tr>
                        <td width="96%" style="font-size: 18px; padding-bottom: 10px; padding-left: 50px" align="center">
                            <u>This is the official captioning service account for the SF State DPRC.</u>
                        </td>
                        <td width="2%">
                            <a href="https://vimeo.com/475693509"><img height="45" width="45"  alt="closed captioning icon" src="cid:{3}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table></td></tr>
                <tr><td><table style="width: 100%; border-collapse: collapse;">
                    <tbody>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <table style="border-collapse: collapse; border-right-color: #300034; border-right-width: 1px; border-right-style: solid" width="400">
                                <tbody>
                                <tr>
                                    <td>Daniel Fontaine</td>
                                </tr>
                                <tr>
                                    <td><b>Accessible Media Program Coordinator</b></td>
                                </tr>
                                <tr>
                                    <td>Email: <a href="mailto:captions@sfsu.edu">captions@sfsu.edu</a></td>
                                </tr>
                                <tr>
                                    <td>Phone: 415-338-6435</td>
                                </tr>
                                </tbody>

                            </table>

                        </td>
                        <td>
                            <table style="padding-left: 10px" width="400">
                                <tbody>
                                <tr>
                                    <td>
                                        <table style="border-collapse: collapse;" width="400">
                                            <tbody>
                                            <tr>
                                                <td>Learn more about the importance of closed captioning in the classroom.</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="border-collapse: collapse;" width="400">
                                            <tbody>

                                            <tr>
                                                <td>
                                                    <table style="border-collapse: collapse;" width="400">
                                                        <tbody>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="https://calstate.policystat.com/policy/6629496/latest/">Legal Obligations</a></td>
                                                            <td><a href="https://er.educause.edu/articles/2017/8/a-rising-tide-how-closed-captions-can-benefit-all-students">Better Outcomes</a></td>
                                                            <td><a href="https://access.sfsu.edu/ati/instruction/multimedia">DPRC</a></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>


                    </tbody>

                </table></td></tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" align="center"  style="background-color: #320033; border-collapse: collapse;">
                <tbody>
                <tr ><td height="20"></td></tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<hr>

</body>
</html>


