{% extends 'master_container.html' %}
{% block head %}
    {{ super() }}
    <link href="https://unpkg.com/tabulator-tables@4.0.4/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/pages/static/jqueryUI/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" integrity="sha256-p6xU9YulB7E2Ic62/PX+h59ayb3PBJ0WFTEQxq0EjHw=" crossorigin="anonymous" />
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.0.4/dist/js/tabulator.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <link href="/pages/static/video_list_css.css" rel="stylesheet" , type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
{% endblock %}

{% block content %}


<script type="text/javascript">

    let button_icon = function (value, data, cell) {
        let icon_svg = '<svg enable-background="new 0 0 24 24" height="17" width="17" viewBox="0 0 24 24" xml:space="preserve">' +
            '<path d="M32 4h-4v-4h-4v4h-4v4h4v4h4v-4h4z"></path>' +
            '<path d="M26.996 13.938c0.576 0.64 1.1 1.329 1.563 2.062-1.197 1.891-2.79 3.498-4.67 4.697-2.362 1.507-5.090 2.303-7.889 2.303s-5.527-0.796-7.889-2.303c-1.88-1.199-3.473-2.805-4.67-4.697 1.197-1.891 2.79-3.498 4.67-4.697 0.122-0.078 0.246-0.154 0.371-0.228-0.311 0.854-0.482 1.776-0.482 2.737 0 4.418 3.582 8 8 8s8-3.582 8-8c0-0.022-0.001-0.043-0.001-0.065-3.415-0.879-5.947-3.957-5.998-7.635-0.657-0.074-1.325-0.113-2.001-0.113-6.979 0-13.028 4.064-16 10 2.972 5.936 9.021 10 16 10s13.027-4.064 16-10c-0.551-1.101-1.209-2.137-1.958-3.095-0.915 0.537-1.946 0.897-3.046 1.034zM13 10c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3z"></path>' +
            '</svg>'
        return icon_svg
        
    }
    const CapStatus = (cap) => ({
        true: "Available",
        false: "Unavailable",
        null: "Unknown"
    })[cap];
    const CapStatToggle = (cap) => ({
        'Available': false,
        'Unavailable': true,
        "Unknown": true
    })[cap];
    let UpdateData = function (table_obj) {

        console.log(table_obj);
        let table_rows = table_obj.getRows();
        table_rows.forEach(function (table_row) {
            let row_url = table_row.getData()['url'];

            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:5000/api/captioning/refresh-cap-status",
                data: {'url': row_url},
                callback: 'cap_update_callback',
                dataType: 'json',
                headers: {'Api-User-Agent': 'get_cap_update'},
                success: function (data) {
                    console.log(data)
                    table_row.update({'captioned': CapStatus(data['cap-state'])})

                }


            })

        });

    }
    let submit_data = function(tabulator_row){

        let cell_url = tabulator_row.getData()['url']
        let cell_status = tabulator_row.getData()['captioned']
        let update_cap_stat = function(callback) {
            console.log(callback);
            let row = tabulator_row.getRow()
            row.update({'captioned': CapStatus(CapStatToggle(cell_status)) })

        };

        $.ajax({
            type: "post",
            url: "http://127.0.0.1:5000/api/captioning/update-cap-status",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({'link': cell_url, 'status': CapStatToggle(cell_status)}),
            success: update_cap_stat(tabulator_row)

        })
    };
    let submit_date_update = function (cell) {
        let cell_row = cell.getRow();
        let row_data = cell_row.getData();
        let row_url = row_data['url'];
        let row_show_date = moment(row_data['show_date'], "MM/DD/YYYY").toISOString(true);
        let course_id = row_data['course_id'];

        $.ajax({
            type: "post",
            url: "http://127.0.0.1:5000/api/captioning/update-show-date",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({'link': row_url, 'show_date': row_show_date, 'course_id':course_id}),
            success: function () {
                console.log("This needs a proper callback")
            }

        })


    };
    let show_date_toggle = function (show_date) {
        if (show_date == null){
            return "Please enter show date"
        } else {
            return moment(show_date).format("MM/DD/YYYY")
        }

    };
    let submit_submitted_for_processing = function (tabulator_row) {

        update_submit_status = function(data) {
            console.log(data)
            let submit_status_cell = tabulator_row.getRow()
            submit_status_cell.update({'submitted_for_processing': data['status']})



        };

        let cell_url = tabulator_row.getData()['url']
        let cell_status = tabulator_row.getData()['submitted_for_processing']

        $.ajax({
            type: "post",
            url: "http://127.0.0.1:5000/api/captioning/update-submit-status",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({"link": cell_url, "status": cell_status}),
            success: function(data) {update_submit_status(data)}

        })


    }
    const date_picker = function (cell, onRendered, success, cancel, editorParams) {

        let date_picker = document.createElement("input");
        date_picker.setAttribute("id", "date_picker");
        date_picker.setAttribute("type", "date");
        date_picker.style.padding = "3px";
        date_picker.style.width = "100%";
        date_picker.style.boxSizing = "border-box";

        date_picker.value = moment(cell.getValue(), moment.ISO_8601).format("MM/DD/YYYY")
        onRendered(function () {

            date_picker.focus()
        });

        function successFunc() {
            success(moment(date_picker.value, moment.ISO_8601).format("MM/DD/YYYY"))
            submit_date_update(cell);

        }
        date_picker.addEventListener("change", successFunc);
        return date_picker
    }


</script>
<script type="text/javascript">

    function addInstPriority(event) {
        function add_priority_style(){}

        function warn_wrong_id(){}


        event.preventDefault()
        console.log(event)
        console.log(event.target[0].value)
        $.ajax({
            type: "post",
            url: "http://127.0.0.1:5000/api/captioning/add_instructor_priority",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({"link": cell_url, "status": cell_status}),
            success: function(data) {add_priority_style(data)},
            fail: function (data) {warn_wrong_id(data)}

        })

    }

</script>



        <form method="POST" onsubmit="addInstPriority(event)">
            <input title="Course ID" name="Course ID" type="text">
            <input value="Submit" type="submit">


        </form>
        {% for course in course_video_list %}
            {% if course['no_students_enrolled'] == False %}
                <div id="table_section_enrolled{{ loop.index|safe }}" class="table-section-container">
                    <div class="table-header-box">
                        <div class="top-box">
                            <div class="course-info-left">

                                <b>Course:</b> {{ course['course_name'] }}
                            </div>
                            <div class="course-info-right">
                                <div><b>Semester:</b> {{ course['semester'] }}</div>
                                <div><b>iLearn ID:</b> <a href="https://ilearn.support.at.sfsu.edu/ay1819/course/view.php?id={{ course['course_id'] }}">{{ course['course_id'] }}</a></div>
                                {% if course['instructor_priority'] == True %}
                                    <div><b>Instructor Priority</b></div>
                                {% endif %}
                                {% if course['no_students_enrolled'] == True %}
                                    <div><b>NO STUDENTS ENROLLED</b></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="table-controls">
                            <button onclick="UpdateData( table_obj_{{ course['course_id']|safe }} )">Refresh</button>
                        </div>

                    </div>

                    {% if course['assigned_videos']|length > 0 %}

                        <div id="table_{{ course['course_id']|safe }}">
                        </div>
                        <script type="text/javascript">

                            let table_obj_{{ course['course_id']|safe }} = new Tabulator("#table_{{ course['course_id']|safe }}", {
                                layout:"fitColumns",
                                columns:[
                                    {title:"Course ID", field:"course_id", visible: false},
                                    {title:"Title", field:"title", formatter:"plaintext"},
                                    {title:"URL", field:"url", formatter: "link", formatterParams:{target:"_blank", urlField:'url'}},
                                    {title:"Scan Date", field:"scan_date", width:100},
                                    {title:"Captions", field:"captioned", width:90},
                                    {title:"Report" , cellClick:function(e, cell){submit_data(cell)}, formatter: button_icon,  width:80, align:'center'},
                                    {title:"Show Date", editor:date_picker, field:"show_date", width: 120},
                                    {title:"Submitted", cellClick:function(e, cell){submit_submitted_for_processing(cell)}, width:110, field:"submitted_for_processing", formatter: "tick"}

                                ]

                            });

                            let tabledata_{{ course['course_id']|safe }} = [
                                {% for video in course['assigned_videos'] %}

                                    {
                                        course_id: {{ course['course_id']|safe }},
                                        id: {{ loop.index|tojson|safe }},
                                        title: {{ video.title|tojson|safe }},
                                        url: {{ video.resource_link|tojson|safe }},
                                        scan_date: moment({{ video.scan_date|tojson|safe }}).format('MM-DD-YY, h:mm:ss a'),
                                        captioned: CapStatus({{ video.captioned|tojson }}),
                                        show_date: show_date_toggle({{ video.indicated_due_date|tojson|safe }}),
                                        submitted_for_processing: {{ video.submitted_for_processing|tojson }}

                                    },
                                {% endfor %}
                            ];

                            table_obj_{{ course['course_id']|safe }}.setData(tabledata_{{ course['course_id']|safe }});

                        </script>
                    {% else %}
                        <div id="no_content_{{ course['course_id']|safe }}">
                            No Videos found for this course
                        </div>
                    {% endif %}

                </div>
            {% endif %}
        {% endfor %}
        <br><br/>
        <div>DROPPED COURSES</div>
        <br><br/>
        {% for course in course_video_list %}
            {% if course['no_students_enrolled'] == True %}
                <div id="table_section_dropped{{ loop.index|safe }}" class="table-section-container">
                    <div class="table-header-box">
                        <div class="top-box">
                            <div class="course-info-left">

                                <b>Course:</b> {{ course['course_name'] }}
                            </div>
                            <div class="course-info-right">
                                <div><b>Semester:</b> {{ course['semester'] }}</div>
                                <div><b>iLearn ID:</b> <a href="https://ilearn.support.at.sfsu.edu/ay1819/course/view.php?id={{ course['course_id'] }}">{{ course['course_id'] }}</a></div>
                                {% if course['instructor_priority'] == True %}
                                    <div><b>Instructor Priority</b></div>
                                {% endif %}
                                {% if course['no_students_enrolled'] == True %}
                                    <div><b>NO STUDENTS ENROLLED</b></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="table-controls">
                            <button onclick="UpdateData( table_obj_{{ course['course_id']|safe }} )">Refresh</button>
                        </div>

                    </div>

                    {% if course['assigned_videos']|length > 0 %}

                        <div id="table_{{ course['course_id']|safe }}">
                        </div>
                        <script type="text/javascript">

                            let table_obj_{{ course['course_id']|safe }} = new Tabulator("#table_{{ course['course_id']|safe }}", {
                                layout:"fitColumns",
                                columns:[
                                    {title:"Course ID", field:"course_id", visible: false},
                                    {title:"Title", field:"title", formatter:"plaintext"},
                                    {title:"URL", field:"url", formatter: "link", formatterParams:{target:"_blank", urlField:'url'}},
                                    {title:"Scan Date", field:"scan_date", width:100},
                                    {title:"Captions", field:"captioned", width:90},
                                    {title:"Report" , cellClick:function(e, cell){submit_data(cell)}, formatter: button_icon,  width:80, align:'center'},
                                    {title:"Show Date", editor:date_picker, field:"show_date", width: 120},
                                    {title:"Submitted", cellClick:function(e, cell){submit_submitted_for_processing(cell)}, width:110, field:"submitted_for_processing", formatter: "tick"}

                                ]

                            });

                            let tabledata_{{ course['course_id']|safe }} = [
                                {% for video in course['assigned_videos'] %}

                                    {
                                        course_id: {{ course['course_id']|safe }},
                                        id: {{ loop.index|tojson|safe }},
                                        title: {{ video.title|tojson|safe }},
                                        url: {{ video.resource_link|tojson|safe }},
                                        scan_date: moment({{ video.scan_date|tojson|safe }}).format('MM-DD-YY, h:mm:ss a'),
                                        captioned: CapStatus({{ video.captioned|tojson }}),
                                        show_date: show_date_toggle({{ video.indicated_due_date|tojson|safe }}),
                                        submitted_for_processing: {{ video.submitted_for_processing|tojson }}

                                    },
                                {% endfor %}
                            ];

                            table_obj_{{ course['course_id']|safe }}.setData(tabledata_{{ course['course_id']|safe }});

                        </script>
                    {% else %}
                        <div id="no_content_{{ course['course_id']|safe }}">
                            No Videos found for this course
                        </div>
                    {% endif %}

                </div>
            {% endif %}
        {% endfor %}


{% endblock %}
